{% extends 'muban_1.html' %}

{% block body1 %}
    <div class="container">
        <div class="row">
            <div class="col-0 col-sm-2"></div>
            <div class="col col-sm" style="text-align: center">

                <h1>哎呀， 出问题了</h1>

                {% if error_msg %}
                    <h1>{{ error_msg }}</h1>
                {% endif %}

                <a href="/">
                    回到主页
                    {#                <button type="button" class="btn btn-outline-primary">回到主页</button>#}
                </a>
            </div>
            <div class="col-0 col-sm-2"></div>
        </div>
    </div>
{% endblock %}
