<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       href="tencent://message/?Menu=yes&uin=550191537&Service=300&sigT=45a1e5847943b64c6ff3990f8a9e644d2b31356cb0b4ac6b24663a3c8dd0f8aa12a595b1714f9d45">@Pscly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="t_index">
                <a class="nav-link" href="/index">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="t_shop">
                <a class="nav-link disabled" href="/shop">购物</a>
            </li>
            <li class="nav-item" id="t_file_share">
                <a class="nav-link " href="/file_share">文件分享</a>
            </li>
            <li class="nav-item" id="t_file_share">
                <a class="nav-link " href="/qndxx">青年大学习</a>
            </li>
            <li class="nav-item" id="t_file_share">
                <a class="nav-link " href="/game">游戏</a>
            </li>


            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="q_daohang" type="search" placeholder="搜索"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </li>
        </ul>

        {% if user_obj.username %}
            {% if user_obj.is_root %}
                <span data-toggle="tooltip" title="我不会将你的地址交给任何人">访问地址{{ ip_addr }}</span>
            {% endif %}

            <div class="btn-group" style="margin-left: 15px;">
                <a href="/user/{{ user_obj.username }}">
                    <button type="button" class="btn btn-success">
                        <img src="{{ MEDIA_URL }}{{ user_obj.user_ico }}" alt=""
                             style="width: 30px; height: 30px; border-radius: 75%;">
                        {{ user_obj.username }}
                    </button>
                </a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split cc_pointer"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">切换下拉列表</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="">
                    {% if user_obj.is_root %}
                        <a class="dropdown-item" href="#">管理员操作</a>
                    {% endif %}
                    <a class="dropdown-item" href="/moneys">{{ user_obj.money }}￥</a>
                    <a class="dropdown-item" href="/user_guanli">个人中心</a>
                    <a class="dropdown-item" href="#">333</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">退出登陆</a>
                </div>
            </div>

        {% else %}

            {% if not now_tou in page_none1 %}
                <a href="/login">
                    <button type="button" class="btn btn-success tou_kuang_1">登录</button>
                </a>

                <a href="/reg">
                    <button type="button" class="btn btn-outline-success" style="margin-left: 10px;">注册</button>
                </a>

            {% else %}
                <a href="/index">
                    <button type="button" class="btn btn-outline-primary">主页</button>
                </a>

            {% endif %}


        {% endif %}

    </div>

    {#        </div>#}
    {##}
    {##}
    {#    </div>#}
</nav>

