{% extends 'muban_1.html' %}


{% block body1 %}
    <div class="container">
        <div class="row">
            <div class="col-0 col-sm-1 col-lg-3"></div>
            <div class="col-12 col-sm-10 col-lg-6">

                <h1 style="text-align: center">{{ now_page }}</h1>

                {% include 'login_form.html' %}
            </div>
            <div class="col-0 col-sm-1 col-lg-"></div>
        </div>
    </div>


{% endblock %}

{% block js1 %}
    {% if now_tou == 't_reg' %}

        <script>
            {#alert('11');#}
            var input_1 = $('#username1');
            var btn_1 = $('#btn_1');
            input_1.change(function (e) {
                $.ajax({
                    url: '',
                    type: 'post',
                    data: {
                        'username': input_1.val(),
                        "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val(),
                        'def_type': 1
                    },
                    success: function (data1) {
                        {#alert('1');#}
                        var data2 = JSON.parse(data1);
                        {#alert(data2);#}
                        console.log(data2['data']);
                        if (data2['stus'] === 200) {
                            input_1.removeClass('is-invalid');
                            input_1.addClass('is-valid');
                            $('#dui_1').text(data2['data']);
                            {#btn_1.removeClass("disabled");#}
                            {#btn_1.attr({"dian": 1});  // 这个玩意是检测是否能点#}

                        } else if (data2['stus'] === 201) {
                            input_1.removeClass('is-valid');
                            input_1.addClass('is-invalid');
                            $('#cuowu_1').text(data2['data']);
                            {#btn_1.addClass("disabled");#}
                            {#btn_1.attr({"dian": 0});#}

                        }
                    }
                })
            });

            var pwd1 = $('#password1')
            var pwd2 = $('#password2')

            var pwd_auth = function (e) {
                if (pwd1.val() == pwd2.val()) {
                    pwd2.removeClass('is-invalid');

                    pwd2.addClass('is-valid');

                    console.log("启用");
                    {#btn_1[0].disabled = false;#}  {# 这个搬到了验证码那里 #}
                    console.log("启用---");
                } else {
                    pwd2.removeClass('is-valid');
                    pwd2.addClass('is-invalid');

                    console.log("禁用");
                    {#btn_1[0].disabled = true;#}
                    console.log("禁用----");
                }
            }

            pwd2.change(pwd_auth);
            pwd1.change(function (e) {
                if (pwd2.val()) {
                    pwd_auth()
                }
            });

            btn_1.click(function (e) {
                console.log('同时11');
                if (btn_1.attrName('dian') == 0) {
                    console.log('同时');
                }
                e.preventDefault();
            })


            {# 点击刷新图片验证码 #}
            var img_yzm_btn = $('#img_yzm_btn');
            var yzm_img_2;
            var yzm_img_str ={{ yzm_str }};
            var img_yzm_img = $('#img_yzm_img');
            var img_yzm_input = $('#img_yzm');
            var yzm_phone = $('#phone_num');
            var yzm_phone_btn = $('#yzm_phone');


            img_yzm_btn.click(function (e) {
                img_yzm_input.val('');
                yzm_phone[0].disabled = true;
                $.ajax({
                    url: '',
                    type: 'post',
                    data: {
                        "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val(),
                        'def_type': 3,

                    },
                    success: function (data1) {
                        var data2 = JSON.parse(data1);
                        yzm_img_2 = data2['yzm_img_2'];
                        yzm_img_str = data2['yzm_img_str'];

                        img_yzm_img.attr("src", "data:image/png;base64," + yzm_img_2);


                    }
                })

            })


            {#  图片验证码  #}

            img_yzm_input.change(function (e) {
                if (img_yzm_input.val() == yzm_img_str) {
                    yzm_phone[0].disabled = false;
                    img_yzm_input.removeClass('is-invalid');
                    img_yzm_input.addClass('is-valid');
                    return true;
                } else {
                    yzm_phone[0].disabled = true;
                    console.log(img_yzm_input.val());
                    console.log(yzm_img_str);

                    img_yzm_input.removeClass('is-valid');
                    img_yzm_input.addClass('is-invalid');
                    {#img_yzm_input.val('')#}
                }
            })


            {# 手机号格式验证 #}

            function Phone(nb) {
                // var vest_phone = document.getElementById("phone");
                var cell = /^0?(13|14|15|17|18|19)[0-9]{9}$/;
                if (cell.test(nb.value)) {
                    yzm_phone_btn[0].disabled = false;
                    yzm_phone.removeClass('is-invalid');
                    yzm_phone.addClass('is-valid');
                    {#$('#dui_1').text(data2['data']);#}
                    return true;
                } else {
                    yzm_phone_btn[0].disabled = true;
                    yzm_phone.removeClass('is-valid');
                    yzm_phone.addClass('is-invalid');
                    {#$('#cuowu_1').text(data2['data']);#}

                    return false;
                }
            }


            yzm_phone.change(function (e) {
                Phone(this)
            })


            {#   手机验证码等待60秒  #}
            {#//验证码#}
            var counts = 60;
            var yzm_str_phone;

            function send_txy_yzm() {
                $.ajax({
                    url: '',
                    type: 'post',
                    data: {
                        'phone_num': yzm_phone.val(),
                        "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val(),
                        'def_type': 2,
                        'yzm_num': {{ yzm_str }}
                    },
                    success: function (data1) {
                        var data2 = JSON.parse(data1);
                        yzm_str_phone = data2['yzm_num'];


                    }
                })
            }


            function settime() {
                if (counts == 0) {
                    yzm_phone_btn[0].removeAttribute("disabled");
                    yzm_phone_btn[0].value = "获取验证码";
                    counts = 60;
                    {#send_txy_yzm(this);#}


                    return false;
                } else {
                    yzm_phone_btn[0].setAttribute("disabled", true);
                    yzm_phone_btn[0].value = "重新发送（" + counts + "）";
                    counts--;
                }
                setTimeout(function () {
                    settime(yzm_phone_btn[0]);
                }, 1000);
            }


            var yzm_phone_input = $('#yzm_phone_input');
            yzm_phone_btn.click(function (a) {
                send_txy_yzm();
                settime();
                yzm_phone_input[0].disabled = false;
            })


            yzm_phone_input.change(function (e) {
                console.log("11");
                if (yzm_phone_input.val() == yzm_str_phone) {
                    btn_1[0].disabled = false;
                    yzm_phone_input.removeClass('is-invalid');
                    yzm_phone_input.addClass('is-valid');
                } else {

                    btn_1[0].disabled = true;
                    yzm_phone_input.removeClass('is-valid');
                    yzm_phone_input.addClass('is-invalid');

                }

            })

        </script>

    {% endif %}


{% endblock %}
